
<!doctype html>
<html lang="en">
  <head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <!--<script type="text/javascript" src="{{ url_for('static', filename='dropzone.js') }}"></script>-->
    <script type="text/javascript" src="{{ url_for('static', filename='dataentry.js') }}"></script>

    <title>Team Dict</title>
  </head>
  <body>
    <div class="flexbox">
      <div class="centered">
        <div class="header">
          <h1><a href="/">slack team dictionary</a></h1>
          <hr>
        </div>
        <div class="msg">
          Try again.
          <br>
          Your request either has timed out or is invalid.
          <br>
          <a class="btn btn-primary" href="/">Home</a>
        </div>
      </div>
    </div>
</html>
